@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.apresentacao{
    background-color: #005E9D;

}
.principal{
    display: flex;
    height: 45.9em;
    flex-direction: column;
    align-items: center;
}

.campo_total_fazer_pergunta{
    display: flex;
    height: 35em;
    width: 50em;
    background-color: white;
    border-radius: 1em;
    flex-direction: column;
    margin-top: 5em;
}
.cabecalho_pergunta{
    display: flex;
    align-items: baseline;
    gap: 195px;
    margin-top: 2em;
}

.titulo_campo_pergunta{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    border:none;
    margin-left: -8em;
   
}
.orientacoes{
    margin-left: 2.8em;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.titulo_orientacoes{
    margin-left: -1rem;
    font-weight: bold;
}
.botao_escolher_disciplina{
    display: flex;
    align-items: center;
}
.escolher_disciplina{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    border: black;
    border-radius: 1.5em;
    padding: 0.5rem 1.7rem;
    position: relative;
    right: 5%;
    background-color: #f3a051;
}
.setinha{
    position: absolute;
}
.campo_pergunta{
    display:flex;
    align-self: center;
    width: 43rem;
    height: 30em;
    border-radius: 1em;
    background-color: #89caff;
    outline: 0;
}
.campo_pergunta::placeholder{
    font-family: 'Montserrat', sans-serif;
    align-self: flex-start;
    color: black;
}
.botao_pergunta{
    display: flex;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #FF9800;
    font-size: 1.3em;
    border-radius: 1.5em;
    width: 6em;
    height: 2.3em;
    justify-content: center;
    align-items: center;
    margin: 1em 1em 1em 2.6em;
}
.rodape_perguntas{
    display: flex;
    gap: 25em;
    height: 6em;
}
.campo_botao_pergunta{
    display: flex;
    align-self: flex-end;
}
.logo{
    display: flex;
    height: 10em;
    width: 10em;
    margin-top: -2.5em;
}
.voltar
{
   
    margin-left: 3.2rem;
    border-radius: 100%;
    transform:translateY(0.2rem);
    text-decoration: none;
    
}