@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.apresentacao{
    background-color: #005E9D;

}
.principal{
    display: flex;
    height: 45.9em;
    flex-direction: column;
    align-items: center;
}

.campo_total_fazer_pergunta{
    display: flex;
    height: 27em;
    width: 50em;
    background-color: white;
    border-radius: 1em;
    flex-direction: column;
}
.cabecalho_pergunta{
    display: flex;
    align-items: baseline;
    gap: 30px;
}
.logo{
    margin-top: -1em;
    margin-right: -1rem;
    margin-left: 0.3rem;
}
.titulo_campo_pergunta{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    border:none;
    margin-right: 1.8rem;
}
.botao_escolher_disciplina{
    display: flex;
    align-items: center;
}
.escolher_disciplina{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    border: black;
    border-radius: 1.5em;
    padding: 0.5rem 1.7rem;
    position: relative;
    right: 5%;
    
}
.setinha{
    position: absolute;
}
.campo_pergunta{
    display:flex;
    align-self: center;
    width: 43rem;
    height: 15rem;
    border-radius: 1em;
    background-color: rgb(190, 224, 255);
    outline: 0;
}

.campo_pergunta::placeholder{
    font-family: 'Montserrat', sans-serif;
    align-self: flex-start;
    color: black;
}
.botao_pergunta{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #FF9800;
    border:#FF9800; 
    font-size: 1.3em;
    width: 6em;
    border-radius: 1em;
}