@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*============================================= VARIÁVEIS =============================================*/
.root {
    --cor-1: #0089e4;
    --cor-2: #005E9D;
    --cor-3:#4fafff;
    --cor-4: #FF9800;
    --cor-5: #ff9a3e;
    --cor-6: #333939;
    --cor-7: #fff;
    --cor-8: #000;
    --cor-hover: rgb(176, 224, 230);
    --cor-rodape: rgb(41, 51, 194);

    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Krona One', sans-serif;
}

.apresentacao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.total {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 500px;
    height: 480px;
    margin-top: 100px;
    position: relative;
}
.total_cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 500px;
    height: 660px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.Logo{
    display: flex;
    margin-bottom: -30px;
    margin-top: -55px;
}
body {
    color: #fff;
    font-size: 40px;
    background-color: #005E9D;
}
/*============================================= LOGIN =============================================*/
.login_total{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.conteudo_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.campo_login {
    padding: 10px;
    width: 400px;
    background-color: #4fafff;
    border: solid #4fafff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.campo_login::placeholder {
    color:#fff;
}

/*ÍCONES INPUT LOGIN*/
#icone_email{
    background-image: url("/assets/Email.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.8em;
    padding-left: 2.5em; 
    align-self: center;
}
#icone_senha{
    background-image: url("/assets/cadeadoSemFundo.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 2.2em;
    padding-left: 2.5em; 
    align-self: center;
}
/*ÍCONES INPUT CADASTRO*/
#icone_nome{
    background-image: url("/assets/nomecompleto.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.8em;
    padding-left: 2.5em; 
    align-self: center;
}
#icone_user{
    background-image: url("/assets/IconUser.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 1.8em;
    padding-left: 2.5em; 
    align-self: center;
}

.mostrar_senha
{
    font-size: 1.8rem;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: -.9rem;
}

/*============================================= LEMBRAR SENHA =============================================
(pertence apenas a tela de login)*/
.lembrar_senha {
    display: flex;
    display: flex;
    text-decoration: none;
    justify-content: flex-start;
}

.lembrar_senha_conteudo {
    color: #333939;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.lembrar_senha_check {
    display: none;
}

.lembrar_senha input+label:before {
    background-color: #333939;
    content: '';
    border: solid #333939;
    display: inline-block;
    width: .8rem;
    height: .8rem;
    vertical-align: middle;
    border-radius: .3rem;
    margin-right: 7px;
    
}

.lembrar_senha input:checked+label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
}
/*============================================= REGISTRO =============================================*/
.info_login{
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-top: 10px;
}
.Registro {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #333939;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 0.25px;
}

.Registro:hover {
    color: rgb(92, 92, 93);
}
/*============================================= BOTÃO =============================================*/

.botao {
    display: flex;
    align-content: baseline;
    justify-content: center;
    text-decoration: none;
    background-color: #0089e4;
    border: none;
    padding: 10px;
    width: 400px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
}

.botao:hover {
    background: rgb(84, 198, 255);
    cursor: pointer;
}
/*============================================= CADASTRO =============================================
(para a tela de cadastro, as classes servem para a opção de fazer o login)*/
.campo_cadastro{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.cadastro{
    text-decoration: none;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #333939;
    font-weight: bold;
}
.cadastro:hover{
    color: rgb(92, 92, 93);
}
/*============================================= RODAPÉ =============================================*/
.rodape {
    display: flex;
    background-color: #003c63;
    position: relative;
    margin-top: 2.5rem;
    width: 100%;
    height: 2rem;
    padding: 15px;
    width: 100%;
    color: #fff;
    font-family: 'Krona One', sans-serif;
    font-size: 11px;
    justify-content: center;
}

.Rodape-Cadastro {
    position: relative;
}


/*Responsividade Mobile*/
@media (max-width: 426px)
{
    .total
    {
        width: 19rem;
        margin-left: 0rem;
    }
    .campo_login
    {
        width: 15rem;
    }
    .info_login
    {
        width: 15rem;
       
    }
    .botao
    {
        width: 15rem;
    }
}