@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
/*========================================== Cabeçalho ========================================================*/

/*No css do cabeçalho mudamos a cor da fonte, o tamanho da fonte e a fonte. Além disso também usamos para ajustar e personalizar o cabeçalho do nosso site*/
.links_navbar {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.links_links_navbar {
    display: flex;
    gap: 50px;
}
.nav-link{
    color: #f6f6f6;
}
.botao {
    text-decoration: none;
    padding: 1px 4px;
    font-size: 17px;
    border-radius: 10px;
    background-color: #4FAFFF;
    border: #4FAFFF;
    margin-left: 15px;
}
.nav-link:hov
{
    opacity: 80%;
}

.cabecalho_botao
{
    display: flex;
    justify-content: center;
    color: white;
    font-style: #fff;
}
.btn:hover
{
    opacity: 80%;
}
.navbar
{
    margin-top: -1rem;
}
/*============================================ Texto ===========================================================*/
/*na parte do texto o que de diferente usamos um display grid para melhor controle na hora da responsividade e outra coisa é o background: radial-gradient que foi utilizado para fazer a logo do instagram*/
.apresentacao{
    display: grid;
    gap: 150px;
    grid-template-columns: repeat(2,2fr);
}
.imagem{
    border-radius: 100%;
    margin-right: 1rem;
}
.texto_apresentacao{
    text-align: justify;
    margin: 50px 0 50px 50px;
}
.paragrafo{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    width: 500px;
}
.adicionais{
    margin-top: 50px;
}
.titulo_adicionais{
    font-weight: bold;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
}
.imagens_adicionais{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 20px;
}

.navegacao_adicionais{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.adicionais_links{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-family: 'Monteserrat', sans-serif;
}
.icon_redes{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px 0 5px;
    width: 100px;
}
.icon_redes:hover
{
    opacity: 75%;
}
.icon-instagram
{
    display: flex;
    background: radial-gradient(circle at 33% 100%, #FEDA77 4%, #F58529 30%, #DD2A7B 62%, #8134AF 85%, #515BD4);
    border-radius: 100%;
    border-width: 2rem;
    padding: 0.1rem 0.4rem  0.2rem 0.4rem;
}
.icon-instagram:hover
{
    transition: .5s;
    opacity: 80%;
    cursor: pointer;
}
.icon-twitter
{
    display: flex;
    background-color: #00acee;
    border-radius: 100%;
    border-width: 2rem;
    padding: 0.1rem 0.4rem  0.2rem 0.4rem;
}
.icon-twitter:hover
{
    transition: .5s;
    background-color: #4bc4f4;
    cursor: pointer;

}
/*=========================================== Rodapé ==========================================================*/
/*na parte do rodape o que de diferente usamos é o background: linear-gradient que foi utilizado para fazer os riscos embaixos dos titulos*/
.rodape
{
    background-color: #0089e4;
    color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 1rem;
    display: flex;
    gap: 15rem ;
    align-content: center;
    font-size: 15px;
    font-family:'Montserrat',sans-serif;
    margin-bottom: -1.5rem;
    margin-top: 4rem;
    display: flex;
    align-self: center;
    justify-content: center;
}

.info_empresa
{
    font-size: 25px;
    font-weight: bolder;
}

.info_empresa_element
{
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: left bottom;
    background-position-y: 2.5rem;
    height: 50px;
    width: 110px;
    margin-bottom: 0.8rem;
}
.info_contatos
{
    display: flex;
    gap: .2rem;
    flex-direction: column;
    justify-content: baseline;
    justify-items: baseline;

}
.elementos
{
    display: flex;
    justify-items: baseline;
    gap: .5rem;
    margin-bottom: .5rem;
}
.rodape_element
{
    background-color: #005E9D;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    color: white;
    padding: -4rem;
}
.rodape_element_info
{
    margin-top: 1%;
    display: flex;
    gap: 0.5rem;
    font-family:'Montserrat',sans-serif;
    font-size: 15px;
}
.sublinhado
{
    display: flex;
    margin-top: 2rem;
    background-color: white;

}
.info_links_element
{
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: left bottom;
    background-position-y: 2.5rem;
    height: 50px;
    width: 140px;
    margin-bottom: 0.8rem;
}
.elementos_suporte
{
    display: flex;
    justify-items: baseline;
    text-decoration: none;
    color: white;
    margin-bottom: .5rem;
}
.elementos_suporte:hover
{
    transition: 0.2ms;
    opacity: 80%;
}
/*Responsibilidade do site para laptop , o que usamos de diferente foi o display grid para controlamos melhor as colunas*/
@media (max-width: 1024px) 
{
    .rodape
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
     
    }
    .apresentacao
    {
        grid-template-columns:repeat(1,1fr)
    }
    .adicionais
    {
        margin-top: -7rem;
        margin-left: 3rem;
    }
    .contatos
    {
        margin-top: -11rem;
    }
    .links
    {
        margin-top: -11rem;
    }
    .paragrafo  
    {
        width: 50rem;
    }
}

/*Responsibilidade do site para tablet*/
@media (max-width: 770px) 
{
    .rodape
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
     
    }
    .contatos
    {
        margin-top: -11rem;
    }
    .links
    {
        margin-top: -11rem;
    }
    .paragrafo  
    {
        width: 35rem;
    }
}

/*Responsibilidade do site para mobile*/
@media (max-width: 520px) 
{
    .rodape
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding-bottom: 4rem;
    }
    .suporte
    {
        margin-top: -11rem;
    }
    .paragrafo
    {
        width: 15rem;
    }
    .imagens_adicionais
    {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
    }
}